@use "./SASS/" as *;

@media screen and (max-width: 1350px) {
    main {
        justify-content: space-around;
    }

    .info {
        top: 5.9vw;
        right: 5.9vw;
    }
}

@media screen and (min-width: 1350px) {
    main .intro {
        margin-left: 5rem;
        margin-top: 5rem;
        align-self: flex-start;
    }
}

@media screen and (min-height: 700px) {
    main .intro {
        font-size: 1.5rem;
    }
}

